/**
 * Контейнеры ошибок
 */
 .img-upload__item {
  margin-bottom: 20px;
}

.img-upload__error {
  color: red;
  text-transform: none;
  margin-top: 5px;
  text-align: left;
  padding-left: 68px;
}

.img-upload__overlay--error {
  text-align: center;
  font-size: 1.5rem;
}

.img-upload__error--main {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.img-upload__button {
  padding: 0;
  margin: 0;
  background: none;
  box-shadow: none;
  border: none;
  text-decoration: underline;
}

.img-upload__button:hover {
  text-decoration: none;
}

.img-upload__overlay--error {
  text-align: center;
  font-size: 1.5rem;
}

.text__hashtags {
  margin-bottom: 0;
}
